html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2f2;
    font-family: "DM Sans", serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", serif;
    font-weight: 500;
    color: #333;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
    text-align: justify;
}

@media (min-aspect-ratio: 4/3) {
    .footer-img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        position: static;
    }

    .header-img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        position: static;
    }
}

@media (max-aspect-ratio: 4/3) {
    .footer-img {
        max-width: 35%;
        height: auto;
        border-radius: 50%;
        position: static;
    }

    .header-img {
        max-width: 35%;
        height: auto;
        padding: 15px;
        border-radius: 50%;
        position: static;
    }
}

#navmenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    position: fixed;
    top: 0;

    background-color: #00335b;
    padding: 0 !important;
    width: 100%;
    text-align: center;
    z-index: 99999;
}

.header {
    background: url(../images/header-back.jpg);
    padding-top: 10vw;
    padding-bottom: 10vw;
    background-color: #222222;
    background-size: cover;
}

.about {
    background: #222222;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

#resume {
    font-size: 120px;
}

.centered {
    text-align: center;
}

a {
    color: #4ea5d9;

}

.active {
    background-color: #4ea5d9;
    color: white;
}

.header h1 {
    font-size: 80px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

.header h3 {
    font-size: 20px;
    color: white;
}

#heading-name {
    font-size: 100px;
    text-shadow: 2px 2px #5E94C1;
    border-radius: 20px;
}

#heading-desc {
    font-size: 36px;
    text-shadow: 2px 2px #000000;
}

.social-panel {
    display: block;
    position: absolute;
    bottom: -60px !important;
    left: 50%;
    width: 360px;
    background: #222222;
    padding: 5px;
    text-align: center;
    z-index: +5;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 5);
    border-radius: 20px;
}

.social-panel-outer {
    position: relative;
}

.social-icon {
    font-size: 72px;
}

.social-icon-2 {
    font-size: 36px;
    color: white;
}

.about h5, p {
    color: white;
}

#about {
    text-align: justify-all;
}

.about i {
    color: white;
}

.subheading {
    font-family: "Rubik";
    font-weight: 900;
    font-size: 18px;
    font-display: swap;
}

.desc {
    padding-top: 50px;
}

.desc p {
    color: #333;
}

.desc t {
    color: #222222;
    font-weight: 700;
}

.desc imp {
    padding: 6px;
    color: white;
    background: #222222;
}

.desc more {
    color: #616669;
}

.desc .col-lg-3 {
    text-transform: uppercase;
}

sm {
    font-size: 12px;
}

.container .row p.tight {
    margin-bottom: 10px;
}

.subheading {
    font-family: "Rubik";
    font-weight: 900;
    font-size: 18px;
    font-display: swap;
}


.footer {
    background: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer p {
    color: white;
}

.footer h5 {
    color: white;
}

.footer t {
    font-weight: 700;
}

td {
    color: white;
    padding-right: 20px;
}

.tab {
    overflow: hidden;
    background-color: inherit;
}

.tablinks {
    color: aliceblue;
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
}

.tab button {
    background-color: #222222;
    border: solid;
    cursor: pointer;
    padding: 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: white;
    color: #4ea5d9;
}

.tabcontent {
    display: none;
    padding: 6px 12px; /* top, bottom = 6, left, right = 12*/
}
.closeSkill {
    text-align: right;
}

.skill {
    border: 2px solid #222222;
    background: white;
    padding: 20px;
    display: inline-block;
    margin: 10px;
    border-radius: 25px;
}

/* === NEW === */
.navbar-nav {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}

#navicon {
    width: 2em;
    border-radius: 50%;
}


.navbar-toggler {
    display: inline-block;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    margin-left: 0.5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-link {
    font-size: 18px;
    display: block;
    color: white !important;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.nav-link:hover {
    background-color: white;
    color: #4ea5d9 !important;
}

.none_display {
    display: none;
}